In [17]:
string1 = "       Filet Mignon" 
string2 = "Brisket         " 
string3 = "     Cheeseburger      "
x=string1.lstrip()
y=string2.rstrip()
z=string3.strip()
print(x)
print(y)
print(z)

Filet Mignon
Brisket
Cheeseburger

In [1]:
word="hello python"
print(word.upper())

HELLO PYTHON

In [6]:
a="hello programmer"
print(len(a))

16

In [8]:
weight=0.2
animal="newt"
print(str(weight)+'kg is the weight of the',animal)

0.2kg is the weight of the newt

In [10]:
print("{} kg is the weight of the {}".format(weight,animal))

0.2 kg is the weight of the newt

In [12]:
print(f"{weight} kg is the weight of the {animal}")

0.2 kg is the weight of the newt

In [14]:
import operator
print(operator.add(2,4))

6

In [19]:
Word="abcdefghij"
Word[3:]

'defghij'

In [20]:
l=[1,2,1,3,4,2]
c=set(l)
print(c)

{1, 2, 3, 4}

In [22]:
a={1,2,3,4}
b={5,6,7,8}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
a={2,5,6,8,4}
a.remove(6)
print(a)

{2, 4, 5, 8}

In [24]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
setx.intersection(sety)

{'blue'}

In [27]:
x={"a","b","c"}
y={"g","m","a"}
z=x.intersection(y)
print(z)

{'a'}

In [34]:
z={2,3,4,5,6}
for i in set(z):
    z.remove(i)
print(z)

set()

In [21]:
sample= {0: 10, 1: 20}
sample[2] = 30
print(sample)

{0: 10, 1: 20, 2: 30}

In [20]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
merged_dict = {}
merged_dict.update(dic1)
merged_dict.update(dic2)
merged_dict.update(dic3)
print(merged_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [39]:
sample_dic={1:10,2:20,3:30}
def check_key_exist(dictionary,key):
    if key in dictionary:
        print(f"key{key} exist in the dictionary")
    else:
        print(f"key{key} dosn't exist in the dictionary")
check_key_exist(sample_dict,2)
check_key_exist(sample_dict,30)

key2 exist in the dictionary
key30 dosn't exist in the dictionary

In [47]:
sample_dict = {1: 10, 2: 20, 3: 30}
def check_value_exists(dictionary, value):
    if value in dictionary.values():
        print(f"Value {value} exists in the dictionary.")
    else:
        print(f"Value {value} does not exist in the dictionary.")
check_value_exists(sample_dict, 2)  
check_value_exists(sample_dict, 50)

Value 2 does not exist in the dictionary.
Value 50 does not exist in the dictionary.

In [38]:
sample_dict = {1: 10, 2: 20, 3: 30}
def check_value_exists(dictionary, value):
    if value in dictionary.keys():
        print(f"Key {value} exists in the dictionary.")
    else:
        print(f"key {value} does not exist in the dictionary.")
check_value_exists(sample_dict, 3)  
check_value_exists(sample_dict, 5)

Key 3 exists in the dictionary.
key 5 does not exist in the dictionary.

In [50]:
num=(5,10,15)
(x,y,z)=num
print(x)
print(y)
print(z)

5
10
15

In [51]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 600, 'b': 400, 'd': 500}
x=list(set(d1.values())|set(d2.values()))
x.sort()
print(x)

[100, 200, 300, 400, 500, 600]

In [60]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 600, 'b': 400, 'd': 500}
x=list(d1.values())
y=list(d2.values())
print(x+y)

[100, 200, 300, 600, 400, 500]

In [4]:
my_dict={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
print(len(my_dict))

9

In [5]:
tup = ('p', 'y', 't', 'h', 'o', 'n')
result = ""
for i in tup:
    result += i
print(result)

python

In [6]:
result="".join(tup)
print(result)

python

In [9]:
A = (1, "a", 2, "b", 3, "c", 4, "d", 5, "e", 6, "f", 7)
fourth_from_last = A[-4]
print(f"The 4th element from last is: {fourth_from_last}")

The 4th element from last is: e

In [15]:
tup = ('p', 'y', 't', 'h', 'o', 'n')
tup_list = list(tup)
tup_list.remove('o')
new_tup = tuple(tup_list)
print(f"Updated tuple: {new_tup}")

Updated tuple: ('p', 'y', 't', 'h', 'n')

In [2]:
List=[1,2,1,3,4,2]
x=set(List)
print(x)

{1, 2, 3, 4}

In [8]:
A=[1,2,3,4,5,6,7,8,9,10]
A.pop(5)
print(A)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [24]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(5):
    A.pop()
print(A)

[1, 2, 3, 4, 5]

In [28]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A=A[:-5]
print(A)

[1, 2, 3, 4, 5]

In [37]:
a = ["apple", "banana", "cherry"]
if "banana" in a:
    print("banana is present in the list")

banana is present in the list

In [40]:
A=[1,2,'p','y','k',10,20]
del A[2:5]
print(A)

[1, 2, 10, 20]

In [41]:
A=[1,2,'p','y','k',10,20]
del A[2:5]
print(A)

[1, 2, 10, 20]

In [47]:
A=[1,2,'p','y','k',10,20]
z=A.index('k')
print(z)

4

In [3]:
A=[2,2,10,3,4,5,1]
x=A.count(10)
print(f"10 is occurred {x} in a list A")

10 is occurred 1 in a list A

In [8]:
A="apple"
B="banana"
C="cherry"
x=[A,B,C]
print(x)

['apple', 'banana', 'cherry']

In [13]:
a=50
b=4
import operator
n=operator.truediv(50,4)
print(f"The reminder is {n} when a divided  by b")

The reminder is 12.5 when a divided  by b

In [25]:
z=[1,2,3] 
z.extend(z)
print(z)

[1, 2, 3, 1, 2, 3]

In [26]:
z = [1, 2, 3]
z.extend(z[:])
print(z)

[1, 2, 3, 1, 2, 3]

In [47]:
A=[100,50,2,5,7,25,78]
A.sort()
print("second largest number in the list",A[-2])

second largest number in the list 78

In [52]:
t=[(2,1),(1,2),(4,4),(3,2),(2,3),(5,4)] 
n=sorted(t)
print(n)

[(1, 2), (2, 1), (2, 3), (3, 2), (4, 4), (5, 4)]

In [64]:
A=[20,"kerala",[100,200,300],"A","B","C",[15,23,25]]
z=(A[6][1],A[6][2])
print(z)

(23, 25)

In [67]:
print(A[2])

[100, 200, 300]

In [68]:
print(A[1][2])

r

In [69]:
print(A[6][0])

15

In [76]:
A = [20, "kerala", [100, 200, 300], "A", "B", "C", [15, 23, 25]]
print(A[-4],A[-3],A[-2])

A B C

In [2]:
x=float(input("ENTER THE 1ST NUMBER"))
y=float(input("ENTER THE 2ST NUMBER"))
z=x*y
print(f"The product of {x} and {y} is {z}")

ENTER THE 1ST NUMBER 2
ENTER THE 2ST NUMBER 4

The product of 2.0 and 4.0 is 8.0