In [2]:
import pandas as pd
p=[{'Name':'Sachin','Sirname':'Bharwaj'},
   {'Name':'Vinod','Sirname':'Verma'}]
df1=pd.DataFrame(p)
print(df1)
for(row_index,row_value) in df1.iterrows():
    print('\n Row index is :',row_index)
    print('Row value is :')
    print(row_value)

     Name  Sirname
0  Sachin  Bharwaj
1   Vinod    Verma

 Row index is : 0
Row value is :
Name        Sachin
Sirname    Bharwaj
Name: 0, dtype: object

 Row index is : 1
Row value is :
Name       Vinod
Sirname    Verma
Name: 1, dtype: object

In [5]:
import pandas as pd
empdata={'EmpId':[100,101,102,103,104,105],
         'EName':['Sachin','Vinod','Lakhibr','Anil','Devinder','Umaselvi'],
         'Doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012']}
df=pd.DataFrame(empdata)
print(df)

   EmpId     EName         Doj
0    100    Sachin  12-01-2012
1    101     Vinod  15-01-2012
2    102   Lakhibr  05-09-2007
3    103      Anil  17-01-2012
4    104  Devinder  05-09-2007
5    105  Umaselvi  16-01-2012

In [10]:
df.EmpId

0    100
1    101
2    102
3    103
4    104
5    105
Name: EmpId, dtype: int64

In [11]:
df['EName']

0      Sachin
1       Vinod
2     Lakhibr
3        Anil
4    Devinder
5    Umaselvi
Name: EName, dtype: object

In [20]:
import pandas as pd
s=pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
print(df)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42

In [40]:
import pandas as pd
s=pd.Series([10,20,30,40])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=40
df1=df.drop('List2',axis=1)
df2=df1.drop(index=[2,3],axis=0)
print(df)
print('After deletion')
print(df1)
print('After Row Deletion')
print(df2)

   List1  List2
0     10     40
1     20     40
2     30     40
3     40     40
After deletion
   List1
0     10
1     20
2     30
3     40
After Row Deletion
   List1
0     10
1     20

In [36]:
import pandas as pd
runs={'Tcs':{'qt1':2500,'qt2':2000,'qt3':3000,'qt4':2000},
      'wipro':{'qt1':2800,'qt2':2400,'qt3':3600,'qt4':2400},
      'l&t':{'qt1':2100,'qt2':5700,'qt3':35000,'qt4':2100}}
df=pd.DataFrame(runs)
print(df)
print(df.loc['qt3',:])
print(df.loc['qt1':'qt3',:])

      Tcs  wipro    l&t
qt1  2500   2800   2100
qt2  2000   2400   5700
qt3  3000   3600  35000
qt4  2000   2400   2100
Tcs       3000
wipro     3600
l&t      35000
Name: qt3, dtype: int64
      Tcs  wipro    l&t
qt1  2500   2800   2100
qt2  2000   2400   5700
qt3  3000   3600  35000

In [60]:
import pandas as pd
runs={'Tcs':{'Qt1':2500,'Qt2':2000,'Qt3':3000,'Qt4':2000},
      'Wipro':{'Qt1':2800,'Qt2':2400,'Qt3':3600,'Qt4':2400},
      'L&T':{'Qt1':2500,'Qt2':2000,'Qt3':3000,'Qt4':2000}}
df=pd.DataFrame(runs)
print(df)
print(df.loc[:,'Tcs'])
print(df.loc[:,'Tcs':'Wipro'])

      Tcs  Wipro   L&T
Qt1  2500   2800  2500
Qt2  2000   2400  2000
Qt3  3000   3600  3000
Qt4  2000   2400  2000
Qt1    2500
Qt2    2000
Qt3    3000
Qt4    2000
Name: Tcs, dtype: int64
      Tcs  Wipro
Qt1  2500   2800
Qt2  2000   2400
Qt3  3000   3600
Qt4  2000   2400

In [45]:
import pandas as pd
Empdata={'empid':[101,102,103,104,105,106],
         'ename':['sachin','vinod','lakhbir','anil','devinder','umaselvi'],
         'doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012']}
df=pd.DataFrame(Empdata)
print(df)
print(df.loc[2])
df.loc[0:2]

   empid     ename         doj
0    101    sachin  12-01-2012
1    102     vinod  15-01-2012
2    103   lakhbir  05-09-2007
3    104      anil  17-01-2012
4    105  devinder  05-09-2007
5    106  umaselvi  16-01-2012
empid           103
ename       lakhbir
doj      05-09-2007
Name: 2, dtype: object

   empid    ename         doj
0    101   sachin  12-01-2012
1    102    vinod  15-01-2012
2    103  lakhbir  05-09-2007

In [58]:
import pandas as pd
runs={'Tcs':{'qt1':2500,'qt2':2000,'qt3':3000,'qt4':2000},
      'wipro':{'qt1':2800,'qt2':2400,'qt3':3600,'qt4':2400},
      'l&t':{'qt1':2100,'qt2':5700,'qt3':35000,'qt4':2100}}
df=pd.DataFrame(runs)
print(df)
print(df.iloc[0:2,1:2])
print(df.iloc[:,0:2])

      Tcs  wipro    l&t
qt1  2500   2800   2100
qt2  2000   2400   5700
qt3  3000   3600  35000
qt4  2000   2400   2100
     wipro
qt1   2800
qt2   2400
      Tcs  wipro
qt1  2500   2800
qt2  2000   2400
qt3  3000   3600
qt4  2000   2400

In [62]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77,42,48,97])
s=pd.Series(arr)
print(s.head())

0    10
1    15
2    18
3    22
4    55
dtype: int64

In [63]:
import pandas as pd
Empdata={'empid':[101,102,103,104,105,106],
         'ename':['sachin','vinod','lakhbir','anil','devinder','umaselvi'],
         'doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012']}
df=pd.DataFrame(Empdata)
print(df)
print(df.head())
print(df.tail())

   empid     ename         doj
0    101    sachin  12-01-2012
1    102     vinod  15-01-2012
2    103   lakhbir  05-09-2007
3    104      anil  17-01-2012
4    105  devinder  05-09-2007
5    106  umaselvi  16-01-2012
   empid     ename         doj
0    101    sachin  12-01-2012
1    102     vinod  15-01-2012
2    103   lakhbir  05-09-2007
3    104      anil  17-01-2012
4    105  devinder  05-09-2007
   empid     ename         doj
1    102     vinod  15-01-2012
2    103   lakhbir  05-09-2007
3    104      anil  17-01-2012
4    105  devinder  05-09-2007
5    106  umaselvi  16-01-2012

In [73]:
import pandas as pd
dic={'Name':['Sachin Bharadwaj','Vinod Verma','Rajesh Mirsha'],
      'Age':[35,36,33]}
df=pd.DataFrame(dic,index=[True,False,False])
print(df)
print(df.loc[True])
print()
print('result of iloc method')
print(df.iloc[1])

                   Name  Age
True   Sachin Bharadwaj   35
False       Vinod Verma   36
False     Rajesh Mirsha   33
Name    Sachin Bharadwaj
Age                   35
Name: True, dtype: object

result of iloc method
Name    Vinod Verma
Age              36
Name: False, dtype: object

In [77]:
import pandas as pd
dic1={'id':['1','2','3','4','5'],'value1':['A','B','C','D','E'],
      'value2':['f','g','h','i','j']}
dic2={'id':['6','7','8','9','5'],'value1':['a','b','c','d','e'],
      'value2':['F','G','H','I','J']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.concat([df1,df2])
print(df3)

  id value1 value2
0  1      A      f
1  2      B      g
2  3      C      h
3  4      D      i
4  5      E      j
0  6      a      F
1  7      b      G
2  8      c      H
3  9      d      I
4  5      e      J

In [79]:
import pandas as pd
dic1={'id':['1','3','5','7','9'],'value1':['A','C','E','G','I'],
      'value2':['B','D','F','H','J']}
dic2={'id':['2','4','6','8','10'],'value1':['a','b','c','d','e'],
      'value2':['f','g','h','i','j']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.concat([df1,df2],ignore_index=True)
print(df3)

   id value1 value2
0   1      A      B
1   3      C      D
2   5      E      F
3   7      G      H
4   9      I      J
5   2      a      f
6   4      b      g
7   6      c      h
8   8      d      i
9  10      e      j

In [81]:
import pandas as pd
dic1={'id':['1','3','5','7','9'],'value1':['A','C','E','G','I'],
      'value2':['B','D','F','H','J']}
dic2={'id':['2','4','6','8','10'],'value1':['a','b','c','d','e'],
      'value2':['f','g','h','i','j']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
merge={'Data1':df1,'Data':df2}
df3=pd.concat(merge)
print(df3)

         id value1 value2
Data1 0   1      A      B
      1   3      C      D
      2   5      E      F
      3   7      G      H
      4   9      I      J
Data  0   2      a      f
      1   4      b      g
      2   6      c      h
      3   8      d      i
      4  10      e      j