In [8]:
for i in range(10):
    print(i,end="  ")

0  1  2  3  4  5  6  7  8  9

In [14]:
v=[10,20,30,40]
for i in range(len(v)):
    print(v[i],end=" ")

10 20 30 40

In [24]:
sum=0
for i in range(1,11):
    sum=sum+i
print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [21]:
for i in range(1,4):
    print(i)
else:
    print("no break")

1
2
3
no break

In [23]:
for i in range(1,4):
    print(i)
    break
else:
    print()

1

In [25]:
adj=['red','big','tasty']
fruits=['apple','banana']
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
big apple
big banana
tasty apple
tasty banana

In [2]:
def hello():
    print("welcome to ipcs")
hello()

welcome to ipcs

In [4]:
def even_or_odd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
even_or_odd(6)
even_or_odd(7)

even
odd

In [12]:
def myfun(x,y):
    print(x)
    print(y)
myfun(10,56)

10
56

In [9]:
def student(x,y):
    print(x,y)
student(x='hello',y='python')
student(y='python',x='function')

hello python
function python

In [16]:
def my_fun(*kids):
    print("the youngest child is",kids[2])
my_fun("emil","tobias","linus")

the youngest child is linus

In [20]:
def myfun(*xyz):
    for i in xyz:
        print(i)
myfun("hello","welcome","tocs","ipcs")

hello
welcome
tocs
ipcs

In [26]:
def myfun(**students):
    print("His first name is",students["name"])
myfun(name="Thor")

His first name is Thor

In [31]:
def myfun(**kwargs):
    for key,value in kwargs.items():
        print("%s==%s"%(key,value))
myfun(first="welcome",mid="for",last="course")

first==welcome
mid==for
last==course

In [33]:
def my_fun(country="norway"):
    print("i am from",country)
my_fun("sweden")
my_fun()
my_fun("brazil")

i am from sweden
i am from norway
i am from brazil

In [34]:
def my_fun(xyz):
    for x in xyz:
        print(x)
fruits=["apple","banana","cherry"]
my_fun(fruits)

apple
banana
cherry

In [35]:
def square_value(num):
    return num**2
print(square_value(2))
print(square_value(4))
print(square_value(-2))

4
16
4

In [54]:
def my(x):
    x[0]=30
s=[9,11,13,14,15]
my(s)
print(s)

[30, 11, 13, 14, 15]

In [63]:
def f1():
    s='God of thunder'
    def f2():
        print(s)
    f2()
f1()

God of thunder

In [67]:
string='hello python'
print(lambda string:string)

<function <lambda> at 0x00000256C46D7B00>

In [68]:
x="hello python"
(lambda x:print(x))(x)

hello python

In [78]:
def cube(y):
    return y*y*y;
g=lambda x:x*x*x
print(g(25))
print(cube(15))

15625
3375